<h1>To-Do App</h1>


  <div class="form">
    <input type="text"[(ngModel)]="dataInput" id="dataInput" placeholder="Describe task" [id]="dataInput">
    <div>
      <input type="checkbox" [(ngModel)]="forTodayCheck">
      <label for="">Today</label>
    </div>
      <div>
      <input type="checkbox" [(ngModel)]="forTomorrowCheck">
      <label for="">Tomorrow</label>
    </div>
    <button (click)="load()">Save</button>
  </div>
    
 

<section>
  <div class="task-list">
    <h3>Tasks for today</h3>
    <hr>
    <ul>
      <li *ngFor="let x of todayList; let i = index;">{{ x }} <input [(ngModel)]="todayListCheckbox[i]" type="checkbox"></li>
      
    </ul>
  </div>
  <div>
    <div class="buttons">
      <button (click)="moveTomorrow()"> >> </button>
      <label> Tomorrow</label>
    </div>
    <div class="buttons">
      <button (click)="moveToday()"> << </button>
      <label> Today</label>
    </div>
    <div class="buttons">
      <button (click)="moveOut()">🗑</button>
      <label> Delete</label>
    </div>
  </div>
  <div class="task-list">
    <h3>Tasks for tomorrow</h3>
    <hr>
    <ul>
      <li *ngFor="let x of tomorrowList; let i = index;"><input type="checkbox" [(ngModel)]="tomorrowListCheckbox[i]"> {{ x }}</li>
    </ul>
  </div>
</section>